<div class="card price">

  <div class="title">
    <a  href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <span  >({{post.post_url}})</span>
  </div>
  <div >
    <a class="price" href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
  </div>




<div class="card">
  {{#each post.comments}}
  <section class="price">
    <div >
      {{user.username}} on {{created_at}}
    </div>
    <div class="price">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>

</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}